/* Reset some default browser styles */
body, h1, h2, p, span {
    margin: 0;
    padding: 0;
  }
  
  /* Set background image */
  .background {
    background-image: url('white-abstract-background-design_23-2148825582.avif');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }
  
  /* Styles for the card */
  .card {
    width: 320px;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.70);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .card-title {
    font-size: 24px;
  }
  
  .card-badge {
    padding: 5px 10px;
    font-size: 12px;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    border-radius: 5px;
  }
  
  .card-content {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }